# Built application files
*.apk
*.aar
*.aab

# Gradle files
.gradle/
build/
app/build/

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android Studio / IntelliJ IDEA
.idea/
*.iml
.navigation/
captures/
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db
